.App {
  text-align: center;

}
body{
  background-color: #DDD5F5;
}

.leaflet-container {
  width:50vw;
  height:50vh;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
