.FAQContainer{
    display: flex;
    flex-direction: column;
   
    height: 900px;
    background-color: rgba(150, 6, 6, 0.733);
    position: relative;
   }
.summary{
display: flex;
flex-direction:column;
position: absolute;
height: 2%;

}



.detail{
    display: flex;
    flex-direction:column;
    position: relative;
    height: 9%;
    }
    
 .h3detail{ position:absolute;
top:30%;

}
 .pdetail{position: absolute;
top:60%;
height: 15%;}
 