.adminViewMainContainer{
display: flex;
flex-direction: row;
background-color: blue;
}

.adminViewContainerRoutes{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background: gray;
    position: relative;
    top: 25vh;
    left: 25vw;
    width: 15vw;
}
.adminViewContainerRoutes button{
 width: 100px;
}
.adminViewContainer{
    display: flex;
    flex-direction: column;
    background-color: #CC6666;
    justify-content:flex-start;
    height: 50vh;
    width: 50vw;
    position: relative;
    left: 25vw;
    top: 25vh;

  
}

.adminPanelContainer{
    display: flex;
    flex-direction: column;
}
.adminPanelTitle{
    position: relative;
    padding-bottom: 5vh;
}

.titleView{
    position: absolute;
    left: 0;
}

.btnAdd{
    position: absolute;
    right: 0;
}

.adminPanelColumn{
border: solid 2px black;
width: 100%;
position: relative;
height: 10vh;
}

.adminPanelColumn > .text{
    position: absolute;
    left: 0;
}

.btnEdit{
    position: absolute;
    right: 10vw ;
}

.btnDel{
    position: absolute;
    right: 0;
}