.example{
 background-color: red;
 width: 200px;
margin-left: 45%;
}

.example2{
    background-color: green;
    width: 200px;
   margin-left: 45%;
   }


   .homeViewContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 900px;
    background-color: rgba(150, 6, 6, 0.733);
   }