.productos-div {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.package-item {
    border: solid 2px black;
    transition: transform .2s;
}

.package-item .list-group-item {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 15vh;
}

.list-group-item .card-body {
    justify-content: space-around;
    display: flex;
}

.package-item:hover {
    transform: scale(1.02);
}

.package-item div {
    font-family: 'Montserrat';
    font-weight: bold;
}