.FooterContainer {
    background-color: rgba(105, 105, 105, 0.8);
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    border-top: solid 3px black;
}

.footer-container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FooterContainer .footerElement {
    width: 30vw;
    margin: 1%;
}