
.carousel-inner{
    height: 60vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: -12px 9px 56px -11px rgba(0,0,0,0.75);


    
}
.slider{ 
    
    padding-bottom: 10px ;
    /* padding-top: 3px; */
 
}
.d-block{
object-fit: fill;

}
.carousel-control-prev {
    margin-left: 10%;
}
.carousel-control-next{
    margin-right: 10%;
}

