
.carousel-inner{
    height: 60vh;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;

    
}
.d-block{
    object-fit: cover;

}

.imgdog {
    position: absolute;
    max-height: 200px;
    width: 100%;
    left: 50%;
}

