
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color:blue;
  }
   */
  /* .title {
    color:white;
    font-size: 18px;
  }
  
  .coment-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: red;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover,
  a:hover {
    opacity: 0.7;
  }
  

  input[id^="spoiler"]{
    display: none;
   }
   input[id^="spoiler"] + label {

     display: block;
     width: 200px;
     margin: 0 auto;
     padding: 5px 20px;
     background: #FFDE59;
     color: white;
     text-align: center;
     font-size: 24px;
     border-radius: 8px;
     cursor: pointer;
     transition: all .6s;
 }
 
 input[id^="spoiler"]:checked+label {
     color: #333;
     background: #ccc;
 }
 
 input[id^="spoiler"]~.spoiler {
     width: 90%;
     height: 0;
     overflow: hidden;
     opacity: 0;
     margin: 10px auto 0;
     padding: 10px;
     background: rgb(181, 181, 185);
     border: 1px solid #ccc;
     border-radius: 8px;
     transition: all .6s;
 }
 
 input[id^="spoiler"]:checked+label+.spoiler {
     height: auto;
     opacity: 1;
     padding: 10px;

   } */

