.servicesViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: rgba(175, 0, 0, 0.795);
    width: 100vw;
    height: 70vh;
}

.services-product-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}