
.sizese span {
    font-size: 18px;
    font-weight: 450;
}
.a-cart{
    border: none;
}
.colores span {
    font-size:12px ;
    font-weight: 450;
}
.card-cart:hover{
   
    box-shadow: -28px 16px 59px -24px rgba(0,0,0,0.75);
}